/* CSS declarations go here */
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,600);
@import '{reywood:bootstrap3-sass}/bootstrap';

$screen-lg-min: 1200px;
$screen-md-min: 992px;
$screen-sm-min: 768px;

@media (max-width: $screen-sm-min) {
  .readme {
    margin-top: 15px;
  }
}

body {
  padding-top:20px;
  font-family: 'Source Sans Pro'
}

.header__github-fork {
  z-index: 9999;
  text-align: right;
}

.navbar-header {
  width: 100%;
}

.login-buttons-dropdown-align-right {
  position: absolute;
  top: 15px;
  right: 20px;
  z-index: 9999;
}

.brand {
	font-family: 'Source Sans Pro', cursive;
}

.prettyprint #delete_snippet {
	color:black;
	opacity:0.7;
}

.form__save-btn-container {
  width: 100px;
  margin-left: 15px;
}

.form__save-btn {
  float: left;
}
.form__fuzzy-search {
  width: 255px;
}

.clear {
	clear:both;
}

li.L0, li.L1, li.L2, li.L3, li.L5, li.L6, li.L7, li.L8 {
	list-style-type:decimal !important; 
}

pre.old {
	opacity:0.8;
}
pre {
	padding:0px;
	margin: 2px 0px;
}
button.close {
	margin-right:5px;
	color:black;
	opacity:0.3;
}
button.close:hover {
	color:black;
	opacity:1;
}

.snippet-list {
  margin-top: 15px;
}
.snippet-list__highlight-explanation {
  color: #777777;
  font-size: 11px;
}
.snippet-list__snippet-container {
  padding: 5px;
	line-height: 26px;
	font-size: 12px;
	padding-right: 10px;
	color:black;
  cursor:pointer;
} 
.snippet-list__snippet-container {
  background: white;
  color: black;
}
.snippet-list__snippet-container:hover{
  background: rgb(248, 248, 255);
}

.snippet__delete-button {
  margin-top: 2px;
}
.snippet__clipboard-button {
  float: right;
  margin-top: 5px;
  font-size: 15px;
}

.highlight { background-color: yellow }

.page-header__owner {
  font-size: 15px;
  color: #c00; 
}

h1.page-header__title {
	font-family: 'Source Sans Pro', Georgia;
  font-size: 2em;
  font-weight: 200; 
  letter-spacing: 0px;
}

.snippets-list {
  margin-top: 145px;
}
